﻿<div ng-controller="newController">
    <ion-header-bar class="bar-ap" ng-show="flag.searchVisible">
        <input type="text" style="padding: 0 10px;" ng-model="data.searchState.name" placeholder="Search" />
        <button class="button button-icon button-clear ion-ios7-close-outline" ng-click="didSearchIgnoreClick()"></button>
    </ion-header-bar>
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios7-arrow-left"
                ng-click="goBack()"></button>
    </ion-nav-buttons>
    <ion-view title="Pick your repo" class="white">
        <ion-tabs class="tabs-positive tabs-icon-only ap-push-last-icon">
            <ion-tab title="">
            </ion-tab>

            <ion-tab title="search" icon-on="ion-search" icon-off="ion-search" ng-click="didSearchToggleClick()">
            </ion-tab>

            <ion-tab title="more" icon-on="ion-ios7-more" icon-off="ion-ios7-more" ng-click="didRepoFilterClick()">
                <ion-content class="has-header" style="top: 44px; background-color: white;">
                    <div class="row" style="margin: 0; padding: 0" ng-if="data.searchState.name.length > 0">
                        <div class="col text-center" style="color:  #999;">
                            <span> Repos containing "{{data.searchState.name}}"</span>
                        </div>
                    </div>
                    <div class="list ap-list">
                        <div class="item ap-list-item" ng-repeat="repo in data.repoList | filter:data.searchState | orderBy:repoSortBy track by $index" ng-click="didRepoSelectClick(repo)">
                            <div class="ap-item-title" style="color: #222;">{{repo.name}}</div>
                        </div>
                    </div>
                </ion-content>
            </ion-tab>
        </ion-tabs>
    </ion-view>
</div>