﻿<ion-view title="Website" class="white">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios7-arrow-left"
                ng-click="goBack()"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="list ap-list">
            <div class="item item-avatar ap-list-item" ng-click="didAddNewResourceClick(resource)">
                <a href="#/portal/addwebsite2">
                    <img class="ap-item-icon" src="/App/img/github.png">
                    <div class="ap-item-title" style="color: #222;">GitHub</div>
                    <div class="ap-item-desc" style="color: #666;">By GITHUB</div>
                </a>
            </div>
            <div class="item item-avatar ap-list-item" ng-click="didAddNewResourceClick(resource)">
                <a href="#/portal/addwebsite2">
                    <img class="ap-item-icon" src="/App/img/bitbucket.png">
                    <div class="ap-item-title" style="color: #222;">Bitbucket</div>
                    <div class="ap-item-desc" style="color: #666;">By ATLASSION</div>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>