﻿<div ng-controller="newController">
    <ion-header-bar class="bar-ap" ng-show="flag.searchVisible">
        <input type="text" style="padding: 0 10px;" ng-model="data.searchState.name" placeholder="Search" />
        <button class="button button-icon button-clear ion-ios7-close-outline" ng-click="didSearchIgnoreClick()"></button>
    </ion-header-bar>
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
    </ion-nav-buttons>
    <!--<ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-grid" ng-click="didViewToggleClick()"></button>
    </ion-nav-buttons>-->
    <ion-view title="Browse">
        <ion-tabs class="tabs-positive tabs-icon-only ap-push-last-icon">
            <ion-tab title="" ng-click="didOtherTabsClick()">
            </ion-tab>

            <ion-tab title="search" icon-on="ion-search" icon-off="ion-search" ng-click="didSearchToggleClick()">
            </ion-tab>

            <ion-tab title="more" icon-on="ion-ios7-more" icon-off="ion-ios7-more" ng-click="didFilterClick()">
                <ion-content class="has-header" style="top: 44px;">
                    <div class="row" style="margin: 0; padding: 0" ng-if="contextMenu.currentType != ''">
                        <div class="col text-center" style="color:  #999;">
                            <span ng-bind="contextMenu.currentType"></span><span ng-show="contextMenu.currentGroup != ''"> - {{contextMenu.currentGroup}}</span>
                        </div>
                    </div>
                    <div ng-if="!flag.showEverything" class="list list-inset ap-list">
                        <div class="item item-avatar ap-list-item" ng-repeat="resource in data.resourcesList | filter:data.searchState track by $index" ng-click="didBrowseResourceClick(resource)">
                            <img class="ap-item-icon" ng-src="{{resource.iconUrl}}">
                            <div class="ap-item-title">{{resource.name}}</div>
                            <div class="ap-item-desc">{{resource.description}}</div>
                        </div>
                    </div>
                    <div ng-if="flag.showEverything" class="list list-inset ap-list">
                        <div class="item item-avatar ap-list-item" ng-repeat="resource in data.fullResourcesList | filter:data.searchState track by $index" ng-click="didBrowseResourceClick(resource)">
                            <img class="ap-item-icon" ng-src="{{resource.iconUrl}}">
                            <div class="ap-item-title">{{resource.name}}</div>
                            <div class="ap-item-desc">By {{resource.by}}</div>
                        </div>
                    </div>
                </ion-content>
            </ion-tab>
        </ion-tabs>
    </ion-view>
</div>