﻿<ion-view title="Website" class="white">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios7-arrow-left"
                ng-click="goBack()"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="list ap-list3">
            <ion-item>
                <div class="row" style="margin: 0; padding: 0">
                    <div class="col" style="margin: 0; padding: 0">
                        <div><label>URL</label></div>
                        <div><input type="text" placeholder="Enter the name" style="padding: 10px; border: 2px solid #00bcf2;" ng-model="$root.websiteName" /></div>
                        <div class="pull-right"><label>.azurewebsites.net</label></div>
                    </div>
                </div>
            </ion-item>

            <ion-item>
                <div class="row" style="margin: 0; padding: 0">
                    <div class="col-xs-10" style="margin: 0; padding: 0">
                        <div><label>WEB HOSTING PLAN</label></div>
                        <div><span>Plan (Free)</span></div>
                    </div>
                    <div class="col-xs-1">
                        <span class="pull-right" style="line-height: 45px; margin-right: -30px;"><i class="ion-ios7-arrow-right"></i></span>
                    </div>
                </div>
            </ion-item>

            <ion-item>
                <div class="row" style="margin: 0; padding: 0">
                    <div class="col-xs-10" style="margin: 0; padding: 0">
                        <div><label>RESOUCE GROUP</label></div>
                        <div><span>Group-1</span></div>
                    </div>
                    <div class="col-xs-1">
                        <span class="pull-right" style="line-height: 45px; margin-right: -30px;"><i class="ion-ios7-arrow-right"></i></span>
                    </div>
                </div>
            </ion-item>

            <ion-item>
                <div class="row" style="margin: 0; padding: 0">
                    <div class="col-xs-10" style="margin: 0; padding: 0">
                        <div><label>SUBSCRIPTION</label></div>
                        <div><span>Pay-As-You-Go</span></div>
                    </div>
                    <div class="col-xs-1">
                        <span class="pull-right" style="line-height: 45px; margin-right: -30px;"><i class="ion-ios7-arrow-right"></i></span>
                    </div>
                </div>
            </ion-item>

            <ion-item>
                <div class="row" style="margin: 0; padding: 0">
                    <div class="col-xs-10" style="margin: 0; padding: 0">
                        <div><label>LOCATION</label></div>
                        <div><span>South Central US</span></div>
                    </div>
                    <div class="col-xs-1">
                        <span class="pull-right" style="line-height: 45px; margin-right: -30px;"><i class="ion-ios7-arrow-right"></i></span>
                    </div>
                </div>
            </ion-item>
        </div>
    </ion-content>
    <div class="bar bar-footer" style="height: 65px;">
        <div class="row" style="margin: 0;">
            <div class="col">
                <button class="btn btn-lg btn-info" style="background-color: #00bcf2; border: 0; border-radius: 0; font-size: 12px;">Create</button>
            </div>
        </div>
    </div>
</ion-view>