﻿<ion-view title="Journeys">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon"
                ng-click="toggleLeft()"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" padding="true">
        <div class="list list-inset ap-list2">
            <ion-item>
                <div class="row">
                    <div class="col-xs-1">
                        <img src="/app/img/Azure-Website-50x50.png" alt="" style="max-width: 30px; max-height: 30px;" />
                    </div>
                    <div class="col-xs-10">
                        <span class="ap-title">Websites <span><svg viewBox="0 0 20 10" class="arrow msportalfx-svg-placeholder" focusable="false"> <polygon points="2.9,1 1.9,2 4.9,5 1.9,8 2.9,9 6.9,5 " class="msportalfx-svg-c02"></polygon> <polygon points="8.5,1 7.5,2 10.5,5 7.5,8 8.5,9 12.5,5 " class="msportalfx-svg-c02"></polygon> <polygon points="14.1,1 13.1,2 16.1,5 13.1,8 14.1,9 18.1,5 " class="msportalfx-svg-c02"></polygon> </svg></span> Site 1</span>
                    </div>
                    <div class="col-xs-1">

                    </div>
                </div>
            </ion-item>

            <ion-item>
                <a href="#/portal/website">
                    <div class="row">
                        <div class="col-xs-1">
                            <svg viewBox="0.5 0.5 50 50" style="width: 30px; height: 30px;" focusable="false"> <path d="M2.5,2.5v46h46v-46H2.5z M45.5,45.5h-40v-40h40V45.5z" class="msportalfx-svg-c15"></path> <rect x="8.5" y="8.5" width="34" height="10" class="msportalfx-svg-c19"></rect> <rect x="8.5" y="21.5" width="10" height="21" class="msportalfx-svg-c15"></rect> <rect x="21.5" y="21.5" width="21" height="21" class="msportalfx-svg-c16"></rect> </svg>
                        </div>
                        <div class="col-xs-10">
                            <div class="ap-title">Website</div>
                        </div>
                        <div class="col-xs-1">
                            <span class="pull-right" style="line-height: 35px; margin-right: -20px;"><i class="ion-ios7-arrow-right"></i></span>
                        </div>
                    </div>
                </a>
            </ion-item>


            <ion-item>
                <div class="row">
                    <div class="col-xs-1">
                        <img src="/app/img/Azure-Website-50x50.png" alt="" style="max-width: 30px; max-height: 30px;" />
                    </div>
                    <div class="col-xs-10">
                        <span class="ap-title">Websites <span><svg viewBox="0 0 20 10" class="arrow msportalfx-svg-placeholder" focusable="false"> <polygon points="2.9,1 1.9,2 4.9,5 1.9,8 2.9,9 6.9,5 " class="msportalfx-svg-c02"></polygon> <polygon points="8.5,1 7.5,2 10.5,5 7.5,8 8.5,9 12.5,5 " class="msportalfx-svg-c02"></polygon> <polygon points="14.1,1 13.1,2 16.1,5 13.1,8 14.1,9 18.1,5 " class="msportalfx-svg-c02"></polygon> </svg></span> Site 2</span>
                    </div>
                    <div class="col-xs-1">

                    </div>
                </div>
            </ion-item>

            <ion-item>
                <div class="row">
                    <div class="col-xs-1">
                        <img src="/app/img/Azure-Website-50x50.png" alt="" style="max-width: 30px; max-height: 30px;" />
                    </div>
                    <div class="col-xs-10">
                        <span class="ap-title">Websites <span><svg viewBox="0 0 20 10" class="arrow msportalfx-svg-placeholder" focusable="false"> <polygon points="2.9,1 1.9,2 4.9,5 1.9,8 2.9,9 6.9,5 " class="msportalfx-svg-c02"></polygon> <polygon points="8.5,1 7.5,2 10.5,5 7.5,8 8.5,9 12.5,5 " class="msportalfx-svg-c02"></polygon> <polygon points="14.1,1 13.1,2 16.1,5 13.1,8 14.1,9 18.1,5 " class="msportalfx-svg-c02"></polygon> </svg></span> Site 3</span>
                    </div>
                    <div class="col-xs-1">

                    </div>
                </div>
            </ion-item>

            <ion-item>
                <div class="row">
                    <div class="col-xs-1">
                        <svg viewBox="0.5 0.5 50 50" style="width: 30px; height: 30px;" focusable="false"> <path d="M2.5,2.5v46h46v-46H2.5z M45.5,45.5h-40v-40h40V45.5z" class="msportalfx-svg-c15"></path> <rect x="8.5" y="8.5" width="34" height="10" class="msportalfx-svg-c19"></rect> <rect x="8.5" y="21.5" width="10" height="21" class="msportalfx-svg-c15"></rect> <rect x="21.5" y="21.5" width="21" height="21" class="msportalfx-svg-c16"></rect> </svg>
                    </div>
                    <div class="col-xs-10">
                        <div class="ap-title">Virtual Machine</div>
                    </div>
                    <div class="col-xs-1">
                    </div>
                </div>
            </ion-item>

        </div>


    </ion-content>
</ion-view>