﻿<ion-side-menus ng-controller="mainController">

    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-ap"> </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-pane>

    <ion-side-menu side="left" width="100" class="ap-side-menu">
        <ion-content scrollbar-y="false">
            <div class="ap-menu-wrapper">
                <ul class="list">
                    <a nav-clear menu-close href="#/portal/home" class="item ap-menu-item" ng-click="didSideMenuItemClick()">
                        <div class="ap-menu-icon" ng-include src="'/app/img/home.html'"></div>
                        <div class="ap-menu-caption">Home</div>
                    </a>
                    <a nav-clear menu-close href="#/portal/notifications" class="item ap-menu-item" ng-click="didSideMenuItemClick()">
                        <div class="ap-menu-icon" ng-include src="'/app/img/notifications.html'"></div>
                        <div class="ap-menu-caption">Notifications</div>
                    </a>
                    <a nav-clear menu-close href="#/portal/browse" class="item ap-menu-item" ng-click="didSideMenuItemClick()">
                        <div class="ap-menu-icon" ng-include src="'/app/img/browse.html'"></div>
                        <div class="ap-menu-caption">Browse</div>
                    </a>
                    <a nav-clear menu-close href="#/portal/journeys" class="item ap-menu-item" ng-click="didSideMenuItemClick()">
                        <div class="ap-menu-icon" ng-include src="'/app/img/journeys.html'"></div>
                        <div class="ap-menu-caption">Journeys</div>
                    </a>
                    <a nav-clear menu-close href="#/portal/billing" class="item ap-menu-item" ng-click="didSideMenuItemClick()">
                        <div class="ap-menu-icon" ng-include src="'/app/img/billing.html'"></div>
                        <div class="ap-menu-caption">Billing</div>
                    </a>
                    <a nav-clear menu-close href="#/portal/new" class="item ap-menu-item" ng-click="didSideMenuItemClick()">
                        <div class="ap-menu-icon ap-new" ng-include src="'/app/img/new.html'"></div>
                        <div class="ap-menu-caption">New</div>
                    </a>
                </ul>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>