﻿<ion-header-bar class="bar-ap">
    <h1 class="title">Show</h1>
</ion-header-bar>
<ion-content>
    <div class="ap-rmenu-wrapper" ng-switch="state.currentSection">
        <ul class="list list-inset ap-list" ng-switch-when="1">
            <li class="item ap-list-item" ng-click="didRightMenuItemClick(1)">Recommended</li>
            <li class="item ap-list-item" ng-click="didRightMenuItemClick(99)">Everything</li>
        </ul>
        <ul class="list list-inset ap-list" ng-switch-when="99">
            <li class="item ap-list-item" ng-click="didRightMenuItemClick(1)">Back</li>
            <li class="item ap-list-item" ng-repeat="resourceType in contextMenu.resourceTypes track by $index" ng-click="didResourceTypeSelelct(resourceType)">{{resourceType}}</li>
        </ul>
        <ul class="list list-inset ap-list" ng-switch-when="2">
            <li class="item ap-list-item" ng-click="didRightMenuItemClick(99)">Back</li>
            <li class="item ap-list-item" ng-repeat="resourceGroup in contextMenu.resourceGroups track by $index" ng-click="didResourceGroupSelelct(resourceGroup)">{{resourceGroup}}</li>
        </ul>
    </div>
</ion-content>