﻿<ion-header-bar class="bar-ap">
    <h1 class="title">Show {{state.currentView}}</h1>
</ion-header-bar>
<ion-content>
    <div class="ap-rmenu-wrapper">
        <ul class="list list-inset ap-list">
            <li class="item ap-list-item" ng-click="didRightMenuItemClick(1)">Recommended</li>
            <li class="item ap-list-item" ng-click="didRightMenuItemClick(2)">Everything</li>
        </ul>
    </div>
</ion-content>
