﻿<ion-modal-view>
    <ion-header-bar class="bar-ap">
        <h1 class="title">Sort by</h1>
        <button class="button button-icon button-clear pull-right ion-ios7-close-empty ap-modal-close" ng-click="closeRepoModal()"></button>
    </ion-header-bar>
    <ion-content>
        <div class="ap-rmenu-wrapper">
            <ul class="list list-inset ap-list">
                <li class="item ap-list-item" ng-click="didRepoFilterSelectClick(1)">Created Date</li>
                <li class="item ap-list-item" ng-click="didRepoFilterSelectClick(2)">Updated Date</li>
            </ul>
        </div>
    </ion-content>
</ion-modal-view>