﻿body {
    background-color: #fff;
}

body,
input,
textarea,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern";
    -webkit-font-feature-settings: "liga", "kern";
    font-feature-settings: "liga", "kern";
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.pseudo-body {
    position: absolute;
    width: 383px;
    height: 638px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-box-shadow: -1px 0px 30px 0px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: -1px 0px 30px 0px rgba(0, 0, 0, 0.66);
    box-shadow: -1px 0px 30px 0px rgba(0, 0, 0, 0.86);
}

.ap-side-menu {

    .ap-rmenu-wrapper {
        .ap-menu-item {
            border: 0;
        }

        .ap-list {
            .ap-list-item {
                white-space: normal;
                border: 0;
                border-bottom: 1px solid #585e60;
                color: #fff;
                background-color: transparent;
                font-size: 14px;
            }
        }
    }

    .ap-menu-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 500px;


        .ap-menu-item {
            border: 0;

            > .ap-menu-icon {
                height: 21px;
                width: 21px;
                margin: 0 auto 10px;
                border: 0;

                svg {
                    path, rect, polygon {
                        fill: #fff;
                    }
                }

                &.ap-new {
                    svg {
                        path, rect, polygon {
                            fill: #b8d432;
                        }
                    }
                }
            }

            > .ap-menu-caption {
                text-align: center;
                color: #fff;
                font-size: 10px;
                text-transform: uppercase;
            }

            &:last-child {
                // This is not working
            }
        }
    }
}

.ap-list2, ap-list3 {

    .item {
        padding: 16px 8px;
        cursor: pointer;
    }

    .ap-title {
        padding-left: 15px;
        font-size: 14px;
        line-height: 34px;
    }

    .arrow {
        width: 20px;
        height: 10px;
        opacity: .4;
    }
}

.ap-list3 {
    input[type='input'] {
        padding: 10px;
        border: 2px solid #00bcf2;
    }
}

.ap-list {


    .ap-list-item {
        white-space: normal;

        .ap-item-icon {
            position: absolute;
            top: 12px;
            left: 12px;
            max-width: 50px;
            max-height: 50px;
            width: 100%;
            border-radius: 0;
        }

        .ap-item-title {
            font-weight: 400;
            font-size: 14px;
            line-height: normal;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-bottom: 5px;
            margin-top: -5px;
        }

        .ap-item-desc {
            font-weight: 400;
            font-size: 12px;
            display: -webkit-box;
            line-height: 18px;
            max-height: 36px;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            color: rgba(255,255,255, 0.7);
        }
    }
}

.ap-grid {
    .ap-list-icon {
        position: absolute;
        top: 12px;
        left: 12px;
        max-width: 60px;
        max-height: 60px;
        width: 100%;
        border-radius: 0;
    }
}

.ap-push-last-icon {
    i.ion-ios7-more {
        margin-right: -75px;
    }
}

input {
    padding: 0 10px;
}


.ap-modal-close {
    padding-right: 15px;

    &:before {
        font-size: 40px !important;
    }
}

/* Transitions */
.shell-appear-animation {

    &.ng-enter, &.ng-leave {
        -moz-transition: 0.3s linear opacity;
        -o-transition: 0.3s linear opacity;
        -webkit-transition: 0.3s linear opacity;
        transition: 0.3s linear opacity;
        opacity: 0;
    }

    &.ng-enter {
        opacity: 0;

        &.ng-enter-active {
            opacity: 1;
        }
    }
}

.shell-appear {
    -webkit-animation-duration: .3s;
    -webkit-animation-name: shell-appear;
    -webkit-animation-timing-function: ease-in;
}

/* ionic */
.menu {
    background-color: #212628;

    > .scroll-content {
        background-color: #212628;

        .scroll {
            height: 100%;
        }

        .item {
            background-color: transparent;
        }
    }
}

.tabs-positive > .tabs, .tabs.tabs-positive {
    border-color: #585e60;
    background-color: #585e60;
    background-image: linear-gradient(0deg, #585e60, #585e60 50%, transparent 50%);
    color: #fff;
}

.pane {
    background-color: #2e3639;

    .item {
        border: 0;
        border-bottom: 1px solid #585e60;
        color: #fff;
        background-color: transparent;
    }

    .list-inset {
        background-color: transparent;
    }
}

.pane.white {
    background-color: #fff;

    .item {
        color: #222;
        border: 0;
        border-bottom: 1px solid #ddd;
    }

    .item:hover {
        background-color: #61b7da;
    }

}

.list-inset {
    background-color: transparent;
}

.bar {
    &.bar-ap {
        border: 0;
        background-color: #2e3639;
        color: #fff;
    }

    .title {
        color: #fff;
    }
}

.modal {
    background-color: #2e3639;
}




.item {
    border: 0;
    border-bottom: 1px solid #585e60;
    color: #fff;
    background-color: transparent;

    &.active, &:active, &.activated {
        background-color: #585e60;
    }
}

.item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content, .item .item-content.active, .item .item-content.activated {
    border: 0;
    border-bottom: 1px solid #585e60;
    background-color: #585e60;
}

label {
    font-weight: 300;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #fff;

    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

ion-nav-view {
    background-color: #2e3639;
}