﻿<svg viewBox="0 0 21 21" class="msportalfx-svg-placeholder" focusable="false"> <polygon points="21,9 12,9 12,0 9,0 9,9 0,9 0,12 9,12 9,21 12,21 12,12 21,12 " class="msportalfx-svg-c13"></polygon> </svg>